@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif; }

a {
  text-decoration: none; }

body {
  padding: 0 15.62rem;
  margin-top: 1.5rem;
  background: #d9d9d9; }

.header {
  background: url(../assets/header-background.webp);
  height: 48rem;
  border-radius: 2rem 2rem 0 0; }
  .header .headerNav {
    padding: 1rem 2rem 0 2rem;
    display: flex;
    justify-content: space-between; }
    .header .headerNav .headerNav-Logo img {
      width: 7rem; }
    .header .headerNav .headerNav-Menu {
      display: flex; }
      .header .headerNav .headerNav-Menu .menu-list {
        list-style: none;
        display: flex;
        gap: 1.5rem;
        height: max-content; }
        .header .headerNav .headerNav-Menu .menu-list .menu-item {
          padding: .3rem .5rem;
          transition: 300ms ease-in-out; }
          .header .headerNav .headerNav-Menu .menu-list .menu-item:hover {
            background: #049293;
            border-radius: .2rem;
            border-bottom: 0.2rem solid #2bd9da; }
          .header .headerNav .headerNav-Menu .menu-list .menu-item a {
            color: #fff;
            font-weight: bold;
            padding: 0 .3rem;
            z-index: 2; }
  .header .headerHero {
    display: flex; }
    .header .headerHero .headerHero-text {
      width: 50%;
      height: 32rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .headerHero .headerHero-text h1 {
        color: #fff; }
        .header .headerHero .headerHero-text h1 .firstLine {
          font-size: 3.5rem; }
        .header .headerHero .headerHero-text h1 .secondLine {
          font-size: 4rem; }
        .header .headerHero .headerHero-text h1 .thirdLine {
          font-size: 4.5rem; }
          .header .headerHero .headerHero-text h1 .thirdLine .cyan {
            color: #2bd9da; }
        .header .headerHero .headerHero-text h1 .fourthLine {
          font-size: 4.5rem;
          color: #2bd9da; }
    .header .headerHero .headerHero-img {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
  .header .headerSocial {
    display: flex;
    gap: 1rem;
    padding-left: 2rem;
    align-items: center;
    height: 5rem; }
    .header .headerSocial i {
      color: #fff;
      font-size: 2rem; }
      .header .headerSocial i:hover {
        color: #2bd9da; }

.secOne {
  display: grid;
  grid-template-columns: 1.2fr 1fr 2fr;
  grid-template-rows: 3fr 1fr 1fr;
  grid-template-areas: "flatFee smartHunting smartHunting" "flatFee img1 img3" "flatFee img2 img3"; }
  .secOne .flatFee {
    border: 1px solid black;
    height: 30px;
    grid-area: flatFee;
    background: url(../assets/main-section1-aside.webp);
    height: 45rem; }
  .secOne .smartHunting {
    border: 1px solid red;
    height: 30px;
    grid-area: smartHunting;
    height: 100%; }
  .secOne .img1 {
    border: 1px solid green;
    height: 30px;
    grid-area: img1;
    height: auto; }
    .secOne .img1 img {
      width: 100%; }
  .secOne .img2 {
    border: 1px solid orange;
    height: 30px;
    grid-area: img2; }
    .secOne .img2 img {
      width: 100%; }
  .secOne .img3 {
    border: 1px solid blue;
    height: 30px;
    grid-area: img3; }
