.header {
    background: url(../assets/header-background.webp);
    height: 48rem;
    border-radius: 2rem 2rem 0 0;
    .headerNav {
        padding: 1rem 2rem 0 2rem;
        display: flex;
        justify-content: space-between;
        .headerNav-Logo {
            img {
                width: 7rem;
            }
        }
        .headerNav-Menu {
            display: flex;
            .menu-list {
                list-style: none;
                display: flex;
                gap: 1.5rem;
                height: max-content;
                .menu-item {
                    padding: .3rem .5rem;
                    transition: 300ms ease-in-out;
                    &:hover {
                        background: $titleMain-Hunting;
                        border-radius: .2rem;
                        border-bottom: .2rem solid $textCyan;
                    }
                    a {
                        color: $textWhite;
                        font-weight: bold;
                        padding: 0 .3rem;
                        z-index: 2;
                    }
                }
            }
        }
    }

    .headerHero {
        display: flex;
        .headerHero-text {
            width: 50%;
            height: 32rem;
            display: flex;
            justify-content: center;
            align-items: center;
            h1 {
                color: $textWhite;
                .firstLine {
                    font-size: 3.5rem;
                }
                .secondLine {
                    font-size: 4rem;
                }
                .thirdLine {
                    font-size: 4.5rem;
                    .cyan {
                        color: $textCyan;
                    }
                }
                .fourthLine {
                    font-size: 4.5rem;
                    color: $textCyan;
                }
            }
        }
        
        .headerHero-img {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .headerSocial {
        display: flex;
        gap: 1rem;
        padding-left: 2rem;
        align-items: center;
        height: 5rem;
        i {
            color: $textWhite;
            font-size: 2rem;
            &:hover {
                color: $textCyan;
            }
        }
    }
}