.secOne {
    display: grid;
    grid-template-columns: 1.2fr 1fr 2fr;
    grid-template-rows: 3fr 1fr 1fr;
    grid-template-areas: 
    "flatFee smartHunting smartHunting"
    "flatFee img1 img3"
    "flatFee img2 img3";
    .flatFee {
        border: 1px solid black;
        height: 30px;
        grid-area: flatFee;
        background: url(../assets/main-section1-aside.webp);
        height: 45rem;
    }
    .smartHunting {
        border: 1px solid red;
        height: 30px;
        grid-area: smartHunting;
        height: 100%;
    }
    .img1 {
        border: 1px solid green;
        height: 30px;
        grid-area: img1;
        height: auto;
        img {
            width: 100%;
        }
    }
    .img2 {
        border: 1px solid orange;
        height: 30px;
        grid-area: img2;
        img {
            width: 100%;
        }
    }
    .img3 { 
        border: 1px solid blue;
        height: 30px;
        grid-area: img3;
    }
}