@media screen and (max-width: 1400px) {
    body {
        background: red;
        padding: 0;
        overflow-x: hidden;

        .header {
            width: 100vw;

            .headerNav {
                position: relative;

                .headerNav-menu {
                    position: absolute;
                    flex-direction: column;
                    background: $textDarkGrey;
                    right: 0px;
                    top: -265px;
                    padding: 3rem;
                }
                
                .headerNav-BtnMenu {
                    display: block;
                    color: $textWhite;
                    font-size: 2rem;
                    margin-right: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    body {
        .header {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            height: auto;

            .headerNav {
                img {
                    height: 5rem;
                    margin-top: 15px;
                }
            }

            .headerImage {
                display: none;
            }

            .headerSocial {
                justify-content: center;
                padding: 1rem 0;
                gap: 1rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {

}

@media screen and (max-width: 600px) {
    body {
        .header {
            .headerText {
                h1 {
                    font-size: 2rem;

                    .line2 {
                        font-size: 2.31rem;
                    }
                    .line3 {
                        font-size: 2.61rem;
                    }
                    .line4 {
                        font-size: 2.68rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    
}

@media screen and (max-width: 320px) {

}