// Variables de Color

$textCyan: rgb(13, 175, 175);
$body-bg: #2c2c2c;
$textDarkGrey: #2c2c2c;
$textWhite: #fff;
$SVGFilterWhite: invert(99%) sepia(0%) saturate(166%) hue-rotate(288deg) brightness(117%) contrast(100%);
$SVGFilterCyan: invert(60%) sepia(100%) saturate(334%) hue-rotate(131deg) brightness(100%) contrast(91%);
$black-bg: #000;
$textGrey: rgb(83, 83, 83);
$colorHunting: #26dd83;
$colorRenta: #5febde;
$colorBenchmark: #fee101;
$grey-gb: #d9d9d9;
$footer-bg: #30343f;
$textLightGrey: rgb(231, 231, 231);
