// Variables de Color

$textWhite: #fff;
$textCyan: #2bd9da;
$greyTextMain: #6e6e6e;
$titleMain-Smart: #10adae;
$titleMain-Hunting: #049293;
$titleMain-Services: #565656;
$serviceGreen: #2dd985;
$serviceCyan: #5febde;
$serviceYellow: #ffe001;
$bgsection-Client: #d9d9d9;
$bgFooter: #30343f;
$bgFooter-Black: #000;